.body {
background-color: #F5F7FA;
font-family: 'Montserrat', sans-serif;
}

.main-container {
display: flex;
flex-direction: row-reverse;
width: 1200px;
background: white;
margin: 40px auto;
box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
/* main section */

.main-section {
padding: 100px 90px;
}

.about-me-section {
margin-bottom: 40px;

}

.about-me-proffesion {
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
color: black;
margin-bottom: 20px;
}

.about-me-name {
font-style: normal;
font-weight: bold;
font-size: 45px;
line-height: 55px;
color: black;
}

.about-me-description {
    width: 400px;
    height: 120px;
    left: 498px;
    top: 252px;
    color: #595959;

}

/* POLITICAL WORK EXPERIENCE section */
.political-experience {
    margin-bottom: 50px;

}

.main-content-title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: black;
    margin-bottom: 10px;
}

.my-work-list {
padding: 0 0 0 17px;
}

.my-work-item {
color: black;
}

.my-work-text {
color: #595959;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
}

.my-work-link {
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: #595959;
}

/* Work Experience */

.my-work-experience {
    
}

.my-work-experience-position {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: black;
    margin: 0 0 10px 0;
}



.my-work-experience-company {
color: #FB6D3A;
}


.education-experience {
  
}

.date-and-country {
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
color: #A8A8A8;
margin: 0 0 10px 0;
}

.palka {
color: black;

}
/* sidebar-section */
.sidebar {
    background: #1E2939;
    width: 370px;
    padding: 40px 0;
}

.contacts {
margin: 50px 0 0 40px;

}

.tech-skills {
    margin: 50px 0 0 40px;

}

.character {
    margin: 50px 0 0 40px;

}

.sidebar-title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: white;
    margin-bottom: 10px;
}

/* contact-section */
.contacts-type {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: white; 
    margin-right: 5px;
}

.contacts-link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959; 
}
/* tech-skills-list */
.tech-skills-list {
padding-left: 17px;

}

.tech-skills-item {
color: #FB6D3A;

}

.tech-skills-item-text {

    color: white
    ;
}